body {
  background-color: rgba(95, 20, 117, 0.925);
  /* Smoothly transition the background color */
  transition: background-color .5s;
  font-family: 'Arial', sans-serif;
}

.player, .playlist {
  height: 83vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}

.details {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-top: 25px;
}

.track-art {
  margin: 10px;
  height: 250px;
  width: 270px;
  background-image: url("https://images.pexels.com/photos/262034/pexels-photo-262034.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
  background-size: cover;
  border-radius: 15%;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

.now-playing, .track-name, .track-artist {
  text-align: center;
  color: black;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.now-playing {
  font-size: 1rem;
}

.track-name {
  font-size: 2.5rem;
  margin-top: 10px;
}

.track-artist {
  font-size: 1.5rem;
}

.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 15px;
}

.playpause-track, .prev-track, .next-track, .download-track {
  padding: 15px;
  opacity: 0.8;
  /* Smoothly transition the opacity */
  transition: opacity .2s;
  color:black;
}

.playpause-track:hover, .prev-track:hover, .next-track:hover, .download-track:hover {
  opacity: 1.0;
  cursor: pointer;
}

.slider_container {
  width: 75%;
  max-width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.seek_slider, .volume_slider {
  -webkit-appearance: none;
  appearance: none;
  width: 50%;
  height: 5px;
  background-color: black;
  outline: none;
  transition: background-color .2s;
}

.seek_slider:hover, .volume_slider:hover {
  background-color: #888;
}

.current-time, .total-duration {
  color: black;
  font-size: 1rem;
  margin: 0 10px;
}

/* Playlist specific styles */
.playlist ul {
  list-style-type: none;
  padding: 0;
}

.playlist-track {
  font-size: 1.5rem;
  color: black;
  padding: 10px;
  background-color:rgba(72, 4, 95, 0.925);
  margin: 10px 0;
  cursor: pointer;
  transition: background-color 0.3s;
}

.playlist-track:hover {
  background-color: whitesmoke;
}

.navigate button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1.2rem;
  background-color: #ac4caf;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.navigate button:hover {
  background-color:#ac4caf;
}